<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543626233241-sqtgk3lpmb1mfdv9ecafjue3v7lm6o8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543626233241-sqtgk3lpmb1mfdv9ecafjue3v7lm6o8t</string>
	<key>API_KEY</key>
	<string>AIzaSyAhJIXIjaCYMEEOldyH-KNJKezHlmQipyI</string>
	<key>GCM_SENDER_ID</key>
	<string>543626233241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trackapp</string>
	<key>PROJECT_ID</key>
	<string>trackapp-6633e</string>
	<key>STORAGE_BUCKET</key>
	<string>trackapp-6633e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543626233241:ios:7187a81404a7037e48bf08</string>
</dict>
</plist>